<div class="container">
    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="alerta==true">
        <strong>Selección guardada.</strong> Su selección se ha guardado correctamente.
    </div>
    <div class="row">
        <form [formGroup]="cambioComportamiento" (ngSubmit)="submit()">
            <div class="frb-group">
                <div class="frb frb-primary">
                    <input type="radio" id="radio-button-1" name="cambioComportamiento" formControlName="cambioComportamiento" value="0">
                    <label for="radio-button-1">
                        <span class="frb-title">No hay cambios de comportamiento</span>
                    </label>
                </div>
                <div class="frb frb-success">
                    <input type="radio" id="radio-button-2" name="cambioComportamiento" formControlName="cambioComportamiento" value="1">
                    <label for="radio-button-2">
                        <span class="frb-title">Aumento de confusión, rehúsa comer, alteración de patrones usuales leve</span>
                    </label>
                </div>
                <div class="frb frb-info">
                    <input type="radio" id="radio-button-3" name="cambioComportamiento" formControlName="cambioComportamiento" value="2">
                    <label for="radio-button-3">
                        <span class="frb-title">Aumento de confusión, rehúsa comer, alteración de patrones usuales moderado</span>
                    </label>
                </div>
                <div class="frb frb-warning">
                    <input type="radio" id="radio-button-4" name="cambioComportamiento" formControlName="cambioComportamiento" value="3">
                    <label for="radio-button-4">
                        <span class="frb-title">Aumento de confusión, rehúsa comer, alteración de patrones usuales grave</span>
                    </label>
                </div>
            </div>
            <div class="col text-center">
                <button class="btn btn-primary" type="submit" [disabled]="!cambioComportamiento.valid">Guardar</button>   
            </div>
            
        </form>
            
    </div>
</div>