<div class="container">
  <br><br><br>
  <div class="caja-ancha">
    <h1>Avisos</h1>
    <br>

      <div class="row">
        <div class="col-6 col-sm-3">
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button>
              </div>
            </form>
        </div>
        <div class="col-6 col-sm-3">
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Prioridad
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Baja</a></li>
              <li><a class="dropdown-item" href="#">Media</a></li>
              <li><a class="dropdown-item" href="#">Alta</a></li>
            </ul>
          </div>
        </div>
      </div>
      <br>

        

       
        
    <app-alerta></app-alerta>
  </div>
    


</div>
