<div class="alert alert-primary alert-dismissible d-flex align-items-center fade show">
  <i class="bi bi-exclamation-triangle-fill" style="color: red"></i>

  <strong class="mx-2">Info!</strong>

  Please read the comments carefully.

  <div class="mx-5">
    <i class="bi bi-heart-pulse-fill">&nbsp;</i>
    <i class="bi bi-person-circle">&nbsp;</i>
    <i class="bi bi-droplet-fill">&nbsp;</i>
    <i class="bi bi-speedometer">&nbsp;</i>
  </div>

  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
