#camStream, #canvas {
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
  }
  
  #canvasFinal {
    display: block;
    margin: 0 auto;
  }

  .frb-group {
    margin: 15px 0;
  }
  
  .frb ~ .frb {
    margin-top: 15px;
  }
  
  .frb input[type="radio"]:empty,
  .frb input[type="checkbox"]:empty {
    display: none;
  }
  
  .frb input[type="radio"] ~ label:before,
  .frb input[type="checkbox"] ~ label:before {
    font-family: FontAwesome;
    content: '\f096';
    position: absolute;
    top: 50%;
    margin-top: -11px;
    left: 15px;
    font-size: 22px;
  }
  
  .frb input[type="radio"]:checked ~ label:before,
  .frb input[type="checkbox"]:checked ~ label:before {
    content: '\f046';
  }
  
  .frb input[type="radio"] ~ label,
  .frb input[type="checkbox"] ~ label {
    position: relative;
    cursor: pointer;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
  }
  
  .frb input[type="radio"] ~ label:focus,
  .frb input[type="radio"] ~ label:hover,
  .frb input[type="checkbox"] ~ label:focus,
  .frb input[type="checkbox"] ~ label:hover {
    box-shadow: 0px 0px 3px #333;
  }
  
  .frb input[type="radio"]:checked ~ label,
  .frb input[type="checkbox"]:checked ~ label {
    color: #000000;
  }
  
  .frb input[type="radio"]:checked ~ label,
  .frb input[type="checkbox"]:checked ~ label {
    background-color: #f2f2f2;
  }
  
  
  .frb.frb-primary input[type="radio"]:checked ~ label,
  .frb.frb-primary input[type="checkbox"]:checked ~ label {
    background-color: #19e47e;
  }
  
  .frb.frb-success input[type="radio"]:checked ~ label,
  .frb.frb-success input[type="checkbox"]:checked ~ label {
    background-color: #FFEE58;
  }
  
  .frb.frb-info input[type="radio"]:checked ~ label,
  .frb.frb-info input[type="checkbox"]:checked ~ label {
    background-color: #ff9d4d;
  }
  
  .frb.frb-warning input[type="radio"]:checked ~ label,
  .frb.frb-warning input[type="checkbox"]:checked ~ label {
    background-color: #E74C3C;
  }
  
  
  .frb input[type="radio"]:empty ~ label span,
  .frb input[type="checkbox"]:empty ~ label span {
    display: inline-block;
  }
  
  .frb input[type="radio"]:empty ~ label span.frb-title,
  .frb input[type="checkbox"]:empty ~ label span.frb-title {
    font-size: 16px;
    font-weight: 700;
    margin: 5px 5px 5px 50px;
  }
  
  .frb input[type="radio"]:empty ~ label span.frb-description,
  .frb input[type="checkbox"]:empty ~ label span.frb-description {
    font-weight: normal;
    font-style: italic;
    color: #999;
    margin: 5px 5px 5px 50px;
  }
  
  .frb input[type="radio"]:empty:checked ~ label span.frb-description,
  .frb input[type="checkbox"]:empty:checked ~ label span.frb-description {
    color: #000000;
  }
  
  .frb.frb-default input[type="radio"]:empty:checked ~ label span.frb-description,
  .frb.frb-default input[type="checkbox"]:empty:checked ~ label span.frb-description {
    color: #999;
  }

  body
{
    padding-bottom: 10%;
}


.footer{
    bottom: 0;
    width: 100%;
    color: #f2f2f2;
    background-color: rgb(0, 0, 0);
    font-size: 12px;
    text-align: center;
}
  