<div>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="caja" style="max-width: 18rem;">
        <div class="widget-49">
          <div class="widget-49-title-wrapper">
              <div class="widget-49-date-warning">
                  <span class="widget-49-icon"><i class="bi bi-person-fill"></i></span>
              </div>
              <div class="widget-49-meeting-info">
                  <span class="widget-49-pro-title">{{numIngresados}}</span>
                  <span class="widget-49-meeting-time">Ingresados</span>
              </div>
          </div>
        </div>
      </div>
    </ng-template>  


    <ng-template carouselSlide>
      <div class="caja" style="max-width: 18rem;">
        <div class="widget-49">
          <div class="widget-49-title-wrapper">
              <div class="widget-49-date-warning">
                  <span class="widget-49-icon"><i class="bi bi-bell-fill"></i></span>
              </div>
              <div class="widget-49-meeting-info">
                  <span class="widget-49-pro-title">{{numAvisos}}</span>
                  <span class="widget-49-meeting-time">Avisos</span>
              </div>
          </div>
        </div>
      </div>
    </ng-template>  

    <ng-template carouselSlide>
      <div class="caja" style="max-width: 18rem;">
        <div class="widget-49">
          <div class="widget-49-title-wrapper">
              <div class="widget-49-date-warning">
                  <span class="widget-49-icon"><i class="bi bi-door-open-fill"></i></span>
              </div>
              <div class="widget-49-meeting-info">
                  <span class="widget-49-pro-title">{{numAltas}}</span>
                  <span class="widget-49-meeting-time">Altas</span>
              </div>
          </div>
        </div>
      </div>
    </ng-template> 

    <ng-template carouselSlide>
      <div class="caja" style="max-width: 18rem;">
        <div class="widget-49">
          <div class="widget-49-title-wrapper">
              <div class="widget-49-date-warning">
                  <span class="widget-49-icon"><i class="bi bi-activity"></i></span>
              </div>
              <div class="widget-49-meeting-info">
                  <span class="widget-49-pro-title">{{numMonitorizados}}</span>
                  <span class="widget-49-meeting-time">Monitorizados</span>
              </div>
          </div>
        </div>
      </div>
    </ng-template> 
  </owl-carousel-o>
</div>

<div class="container">
  <div class="caja-ancha">
    <div class="d-flex">
      <div>
        <h1>Avisos</h1>
      </div>
      <div class="ml-auto">
        <h3><a [routerLink]="['/avisos']"><i class="bi bi-box-arrow-up-right"></i></a></h3>
      </div>
    </div>
    <app-alerta></app-alerta>
  </div>
</div>
<br><br><br><br>